@import 'globalStyles/variables.scss';

.Hided {
  visibility: hidden;
}

.TodoItem {
  position: relative;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid rgba($color: $darkslategray, $alpha: 0.3);

  &:hover .DeleteBtn {
    opacity: 1;
  }

  &.Editing {
    border-bottom: none;
  }
}

.CheckboxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoItemText {
  width: 100%;
  color: $darkslategray;
  border: none;

  outline: none;
  cursor: default;

  font-size: 24px;
  padding: 20px 35px 20px 20px;
  word-break: break-all;

  &.Completed {
    text-decoration: line-through;
  }
}

.DeleteBtn {
  position: absolute;
  right: 10px;
  top: 50%;

  background-color: transparent;
  font-size: 28px;
  color: rgba($color: $red, $alpha: 0.6);
  opacity: 0;

  border: none;
  cursor: pointer;
  outline: none;

  transform: translateY(-50%);

  transition: opacity, color 0.4s ease;

  &:hover {
    color: $red;
  }
}
