$black: #000000;
$white: #ffffff;
$whitesmoke: #f5f5f5;
$darkslategray: #4d4d4d;
$red: #d61037;
$mediumaquamarine: #80cfbf;
$green: #108f16;
$gray: #999999;

$tablet-width: 768px;
$mobile-width: 480px;

@mixin media-tablet {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin checkbox {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;

  color: $green;
  font-size: 20px;
  transform: translate(-50%, -50%);
}
